In [3]:
import mygene
import pandas as pd
mg = mygene.MyGeneInfo()

In [4]:
import csv

In [5]:
# Read file to get ensembled genes 

genes =[]

with open('5_cell_types_2500_cells_each.txt', newline = '') as main_data_vals:                                                                                          
    data = csv.reader(main_data_vals, delimiter='\t')
    for gene in data:
        genes.append(gene[0])

In [6]:
genes=genes[1:]

In [110]:
#MAIN procedure that extracts notations according to given scopes and type of data (human/mouse)
out = mg.querymany(genes, scopes='ensemblgene', fields='symbol', species='human')

querying 1-1000...done.
querying 1001-2000...done.
querying 2001-3000...done.
querying 3001-4000...done.
querying 4001-5000...done.
querying 5001-6000...done.
querying 6001-7000...done.
querying 7001-8000...done.
querying 8001-9000...done.
querying 9001-10000...done.
querying 10001-11000...done.
querying 11001-12000...done.
querying 12001-13000...done.
querying 13001-14000...done.
querying 14001-15000...done.
querying 15001-16000...done.
querying 16001-17000...done.
querying 17001-17938...done.
Finished.
639 input query terms found no hit:
	['ENSG00000237683', 'ENSG00000269554', 'ENSG00000203301', 'ENSG00000271895', 'ENSG00000242349', 'ENS
Pass "returnall=True" to return complete lists of duplicate or missing query terms.

In [248]:
# Creates dictionary with ensembled/symbol as key/value
dict_genes={}

for g in out:
    emsemble=g['query']
    if list(g.keys()).count('symbol') <1:
        gene_symbol=''
    else:
        gene_symbol = g['symbol']

    dict_genes[emsemble]=gene_symbol

In [249]:
len(dict_genes)

# Creates list with only gene symbols (indexes are mantained!)
list_genes = list(dict_genes.values())

17938

In [250]:
# Calculate duplicates (including missing values) in the list of genes 
seen = set()
dupes = [x for x in list_genes if x in seen or seen.add(x)]

In [251]:
dup=[dup for dup in dupes if dup !='']
dup

['RGS5',
 'BAZ2B',
 'LINC01238',
 'CYB561D2',
 'LINC02937',
 'LINC00484',
 'DNAJC9-AS1',
 'GOLGA8M',
 'ATXN7L3-AS1']

In [207]:
# 9 duplicates 
len(dup)

9

In [252]:
# Creates a list that stores the keys (ensembled genes) that should be deleted because they are duplicated or 
# have a missing symbol (no symbol)

key_to_del = []

for key,value in dict_genes.items():
    if value =='':
        key_to_del.append(key)
    if value in dup:
        key_to_del.append(key)

In [254]:
len(key_to_del)

2195

In [258]:
# deletes keys that are meant to be deleted in the dictionary of genes
for k in key_to_del:
    del dict_genes[k]

In [260]:
len(dict_genes)

15743

In [266]:
# Creates data frame and sets the first column as the rows 
df = pd.read_csv('5_cell_types_2500_cells_each.txt',sep='\t')

In [289]:
df = df.set_index(['Unnamed: 0'])

In [290]:
df.head()

,CD4_Th__cell_1,CD4_Th__cell_2,CD4_Th__cell_3,CD4_Th__cell_4,CD4_Th__cell_5,CD4_Th__cell_6,CD4_Th__cell_7,CD4_Th__cell_8,CD4_Th__cell_9,CD4_Th__cell_10,...,CD56_NK_cell__cell_2491,CD56_NK_cell__cell_2492,CD56_NK_cell__cell_2493,CD56_NK_cell__cell_2494,CD56_NK_cell__cell_2495,CD56_NK_cell__cell_2496,CD56_NK_cell__cell_2497,CD56_NK_cell__cell_2498,CD56_NK_cell__cell_2499,CD56_NK_cell__cell_2500
Unnamed: 0,,,,,,,,,,,,,,,,,,,,,
ENSG00000237683,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
ENSG00000228463,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
ENSG00000228327,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
ENSG00000237491,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
ENSG00000225880,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [301]:
df = df.drop(key_to_del)

In [306]:
df = df.set_axis(dict_genes.values(), axis=0)

In [307]:
df.head()

,CD4_Th__cell_1,CD4_Th__cell_2,CD4_Th__cell_3,CD4_Th__cell_4,CD4_Th__cell_5,CD4_Th__cell_6,CD4_Th__cell_7,CD4_Th__cell_8,CD4_Th__cell_9,CD4_Th__cell_10,...,CD56_NK_cell__cell_2491,CD56_NK_cell__cell_2492,CD56_NK_cell__cell_2493,CD56_NK_cell__cell_2494,CD56_NK_cell__cell_2495,CD56_NK_cell__cell_2496,CD56_NK_cell__cell_2497,CD56_NK_cell__cell_2498,CD56_NK_cell__cell_2499,CD56_NK_cell__cell_2500
RPL23AP21,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
LINC01409,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
LINC00115,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
FAM41C,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
SAMD11,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [311]:
df.to_csv(r'python_pre_processed_5celltypes_2500each.txt',sep='\t', mode='a')